.final-countdown-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fcb-days, .fcb-hours, .fcb-minutes, .fcb-seconds {
  position: relative;
  margin: 16px;
  text-align: center;
}

/* Centering the SVG within its container to avoid any offset issues */
.final-countdown-block svg {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  transform: rotate(-90deg);
}

.fcb-dial-background {
  transition: transform 0.5s ease-in-out;
}

.fcb-label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-top: 16px; /* Spacing between the dial and the label */
}

.fcb-value {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 35%; /* Adjusts vertical spacing of value inside dial */
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the number in the circle */
  z-index: 1; /* Ensures the number stays above the circle */
}
  
/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  .fcb-days, .fcb-hours, .fcb-minutes, .fcb-seconds {
    margin: 8px; /* 50% of the original value */
    text-align: center;
  }

  .final-countdown-block svg {
    width: 75px !important; /* 75% of the original value */
    height: 75px !important; /* 75% of the original value */
    margin: auto;
    transform: rotate(-90deg);
  }

  .fcb-label {
    font-size: 14px; /* 75% of the original value */
    margin-top: 12px; /* 75% of the original value */
  }

  .fcb-value {
    font-size: 18px; /* 75% of the original value */
  }
}

.fcb-settings-panel {
  background: #f9f9f9;
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 8px;
}

.fcb-settings-panel h3 {
  font-size: 1.2em;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  margin-bottom: 20px;
}

.fcb-settings-panel label {
  display: block;
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
}

.fcb-settings-panel input[type="text"],
.fcb-settings-panel input[type="number"],
.fcb-settings-panel input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fcb-settings-panel input[type="checkbox"] {
  margin-right: 5px;
}

.fcb-settings-panel .color-picker {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-right: 5px;
  cursor: pointer;
}

.fcb-settings-panel .color-picker:hover {
  border-color: #ccc;
}

/* Enhance visibility of selected color */
.fcb-settings-panel .color-picker.selected {
  box-shadow: 0 0 0 2px #555 inset;
}
